In [1]:
import pandas as pd
print(pd.__version__)

2.2.3

# First File

In [41]:
data = pd.read_excel('Results_Export_Gruppi biologici_FIXED.xlsx')
data

,Experiment Name,Well,Task,Biological Group Name,Sample Name,Target Name,Amp Status,Amp Score,Cq Conf,Target Efficiency,...,P-Value,Auto Threshold,Threshold,Auto Baseline,Baseline Start,Baseline End,Omit,Tm1,Tm2,Tm3
0,2025-03-12 104557_Caco2_030225_SETA1_noampnoex...,G11,UNKNOWN,Caco2-LS174T,Caco2 1 SET A,ath-miR159a-000338,NaN,Undetermined,Undetermined,1,...,NaN,True,0.200,True,-1,-1,True,NaN,NaN,NaN
1,2025-03-12 125528_Caco2_030225_SETB1 _noampnoe...,G11,UNKNOWN,Caco2-LS174T,Caco2 1 SET B,ath-miR159a-000338,NaN,Undetermined,Undetermined,1,...,NaN,True,0.200,True,-1,-1,True,NaN,NaN,NaN
2,2025-03-17 111219_HT29 230125_SETB1_noampnoexp...,G11,UNKNOWN,HCT116-HT29-SW48,HT29 1 SET B,ath-miR159a-000338,NaN,Undetermined,Undetermined,1,...,NaN,True,0.200,True,-1,-1,True,NaN,NaN,NaN
3,2025-03-14 152929_HT29 230125_SETA1_noampnoexp...,G11,UNKNOWN,HCT116-HT29-SW48,HT29 1 SET A,ath-miR159a-000338,NaN,Undetermined,Undetermined,1,...,NaN,True,0.200,True,-1,-1,True,NaN,NaN,NaN
4,2025-03-26 144108_LS147T_050225_SETB2_noampnoe...,G11,UNKNOWN,Caco2-LS174T,LS147T 2 SET B,ath-miR159a-000338,No Amp,0,0,1,...,NaN,True,0.200,True,3,39,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11073,2025-03-17 145636_HT29 280125_SETB2_noampnoexp...,B12,UNKNOWN,HCT116-HT29-SW48,HT29 2 SET B,U6 snRNA-001973,Amp,1.191,0.855,1,...,NaN,True,0.048,True,3,13,NaN,NaN,NaN,NaN
11074,2025-03-17 130519_HT29 280125_SETA2_noampnoexp...,A11,UNKNOWN,HCT116-HT29-SW48,HT29 2 SET A,U6 snRNA-001973,Amp,1.189,0.905,1,...,NaN,True,0.048,True,3,14,NaN,NaN,NaN,NaN
11075,2025-03-17 130519_HT29 280125_SETA2_noampnoexp...,A12,UNKNOWN,HCT116-HT29-SW48,HT29 2 SET A,U6 snRNA-001973,Amp,1.175,0.948,1,...,NaN,True,0.048,True,3,14,NaN,NaN,NaN,NaN
11076,2025-03-17 130519_HT29 280125_SETA2_noampnoexp...,B11,UNKNOWN,HCT116-HT29-SW48,HT29 2 SET A,U6 snRNA-001973,Amp,1.178,0.926,1,...,NaN,True,0.048,True,3,14,NaN,NaN,NaN,NaN
11077,2025-03-17 130519_HT29 280125_SETA2_noampnoexp...,B12,UNKNOWN,HCT116-HT29-SW48,HT29 2 SET A,U6 snRNA-001973,Amp,1.18,0.841,1,...,NaN,True,0.048,True,3,13,NaN,NaN,NaN,NaN

### Results: Up-Regulated miRNAs = 24

In [32]:
# Condition for UP-regulated miRNAs: RQ > 2 AND p-value <= 0.05
up_condition = (data['RQ'] > 2) & (data['P-Value'] <= 0.05)
up_mirnas = data[up_condition].copy()
num_up_regulated = len(up_mirnas)
print(f"Number of Different Up-regulated miRNAs: {num_up_regulated}")

Number of Different Up-regulated miRNAs: 216

In [33]:
num_target_upmirnas = up_mirnas['Target Name'].nunique()
target_upmirnas = up_mirnas['Target Name'].unique()
print(f"Unique Up-regulated miRNAs: {target_upmirnas}")
print(f"Number of Unique Up-regulated miRNAs: {num_target_upmirnas}")

Unique Up-regulated miRNAs: ['hsa-miR-100-000437' 'hsa-miR-125a-5p-002198' 'hsa-miR-126-002228'
 'hsa-miR-128a-002216' 'hsa-miR-130a-000454' 'hsa-miR-132-000457'
 'hsa-miR-135b-002261' 'hsa-miR-140-3p-002234' 'hsa-miR-190b-002263'
 'hsa-miR-191-002299' 'hsa-miR-193b-002367' 'hsa-miR-195-000494'
 'hsa-miR-22-000398' 'hsa-miR-23a-000399' 'hsa-miR-24-000402'
 'hsa-miR-27a-000408' 'hsa-miR-31-002279' 'hsa-miR-375-000564'
 'hsa-miR-432#-001027' 'hsa-miR-449-001030' 'hsa-miR-574-3p-002349'
 'hsa-miR-886-5p-002193' 'hsa-miR-92a-000431' 'hsa-miR-99a-000435']
Number of Unique Up-regulated miRNAs: 24

### Results: Down-Regulated miRNAs = 14

In [35]:
# Condition for DOWN-regulated miRNAs: RQ < 0.5 AND p-value <= 0.05
down_condition = (data['RQ'] < 0.5) & (data['P-Value'] <= 0.05)
down_mirnas = data[down_condition].copy()
num_down_regulated = len(down_mirnas)
print(f"Number of Different Down-regulated miRNAs: {num_down_regulated}")

Number of Different Down-regulated miRNAs: 126

In [37]:
num_target_down_mirnas = down_mirnas['Target Name'].nunique()
target_down_mirnas = down_mirnas['Target Name'].unique()
print(f"Unique Down-regulated miRNAs: {target_down_mirnas}")
print(f"Number of Unique Down-regulated miRNAs: {num_target_down_mirnas}")

Unique Down-regulated miRNAs: ['hsa-miR-1183-002841' 'hsa-miR-1226#-002758' 'hsa-miR-1253-002894'
 'hsa-miR-148a-000470' 'hsa-miR-206-000510' 'hsa-miR-362-3p-002117'
 'hsa-miR-378-000567' 'hsa-miR-519b-3p-002384' 'hsa-miR-520D-3P-002743'
 'hsa-miR-623-001555' 'hsa-miR-630-001563' 'hsa-miR-644-001596'
 'hsa-miR-875-5p-002203' 'hsa-miR-95-000433']
Number of Unique Down-regulated miRNAs: 14

# Second File

In [14]:
data2 = pd.read_excel('Results_Export_SW48vsCaco2_FIXED.xlsx')
data2

,Experiment Name,Well,Task,Biological Group Name,Sample Name,Target Name,Amp Status,Amp Score,Cq Conf,Target Efficiency,...,P-Value,Auto Threshold,Threshold,Auto Baseline,Baseline Start,Baseline End,Omit,Tm1,Tm2,Tm3
0,2025-03-12 104557_Caco2_030225_SETA1_noampnoex...,G11,UNKNOWN,Caco2,Caco2 1 SET A,ath-miR159a-000338,NaN,Undetermined,Undetermined,1,...,NaN,True,0.227,True,3,16,NaN,NaN,NaN,NaN
1,2025-03-12 125528_Caco2_030225_SETB1 _noampnoe...,G11,UNKNOWN,Caco2,Caco2 1 SET B,ath-miR159a-000338,NaN,Undetermined,Undetermined,1,...,NaN,True,0.040,True,-1,-1,True,NaN,NaN,NaN
2,2025-03-13 103625_Caco2_070225_SETA3_noampnoex...,G11,UNKNOWN,Caco2,Caco2 3 SET A,ath-miR159a-000338,No Amp,0.599,0,1,...,NaN,True,0.165,True,3,21,NaN,NaN,NaN,NaN
3,2025-03-13 122935_Caco2_070225_SETB3_noampnoex...,G11,UNKNOWN,Caco2,Caco2 3 SET B,ath-miR159a-000338,NaN,Undetermined,Undetermined,1,...,NaN,True,0.040,True,3,29,NaN,NaN,NaN,NaN
4,2025-03-12 181635_Caco2_040225_SETB2_noampnoex...,G11,UNKNOWN,Caco2,Caco2 2 SET B,ath-miR159a-000338,Inconclusive,0,0,1,...,NaN,True,0.044,True,3,39,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4579,2025-03-28 120512_SW48_070225_SETB3_noampnoexp...,B12,UNKNOWN,SW48,SW48 3 SET B,U6 snRNA-001973,Amp,1.149,0.7,1,...,NaN,True,0.200,True,-1,-1,True,NaN,NaN,NaN
4580,2025-03-28 101031_SW48_070225_SETA3_noampnoexp...,A11,UNKNOWN,SW48,SW48 3 SET A,U6 snRNA-001973,Amp,1.179,0.903,1,...,NaN,True,0.200,True,-1,-1,True,NaN,NaN,NaN
4581,2025-03-28 101031_SW48_070225_SETA3_noampnoexp...,A12,UNKNOWN,SW48,SW48 3 SET A,U6 snRNA-001973,Amp,1.182,0.864,1,...,NaN,True,0.040,True,3,28,NaN,NaN,NaN,NaN
4582,2025-03-28 101031_SW48_070225_SETA3_noampnoexp...,B11,UNKNOWN,SW48,SW48 3 SET A,U6 snRNA-001973,Amp,1.178,0.759,1,...,NaN,True,0.200,True,-1,-1,True,NaN,NaN,NaN
4583,2025-03-28 101031_SW48_070225_SETA3_noampnoexp...,B12,UNKNOWN,SW48,SW48 3 SET A,U6 snRNA-001973,Amp,1.203,0.856,1,...,NaN,True,0.040,True,-1,-1,True,NaN,NaN,NaN

In [15]:
data2.dropna(subset=['RQ', 'P-Value'], inplace=True)
data2

,Experiment Name,Well,Task,Biological Group Name,Sample Name,Target Name,Amp Status,Amp Score,Cq Conf,Target Efficiency,...,P-Value,Auto Threshold,Threshold,Auto Baseline,Baseline Start,Baseline End,Omit,Tm1,Tm2,Tm3
36,2025-03-28 101031_SW48_070225_SETA3_noampnoexp...,A21,UNKNOWN,SW48,SW48 3 SET A,hsa-miR-20a-000580,Amp,1.35,0.994,1,...,0.009,True,0.072,True,3,28,NaN,NaN,NaN,NaN
37,2025-03-27 123233_SW48_280125_SETA1_noampnoexp...,A21,UNKNOWN,SW48,SW48 1 SET A,hsa-miR-20a-000580,Amp,1.364,0.989,1,...,0.009,True,0.200,True,3,39,NaN,NaN,NaN,NaN
38,2025-03-27 161938_SW48_030225_SETA2_noampnoexp...,A21,UNKNOWN,SW48,SW48 2 SET A,hsa-miR-20a-000580,Amp,1.327,0.993,1,...,0.009,True,0.041,True,-1,-1,True,NaN,NaN,NaN
39,2025-03-13 103625_Caco2_070225_SETA3_noampnoex...,H08,UNKNOWN,Caco2,Caco2 3 SET A,hsa-let-7b-002619,Amp,0.834,0.821,1,...,1.000,True,0.040,True,3,39,NaN,NaN,NaN,NaN
40,2025-03-12 151753_Caco2_040225_SETA2_noampnoex...,H08,UNKNOWN,Caco2,Caco2 2 SET A,hsa-let-7b-002619,Inconclusive,0.791,0.918,1,...,1.000,True,0.040,True,3,33,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4531,2025-03-27 181138_SW48_030225_SETB2_noampnoexp...,B13,UNKNOWN,SW48,SW48 2 SET B,rno-miR-7#-001338,Amp,1.223,0.981,1,...,0.068,True,0.200,True,-1,-1,True,NaN,NaN,NaN
4532,2025-03-28 120512_SW48_070225_SETB3_noampnoexp...,B13,UNKNOWN,SW48,SW48 3 SET B,rno-miR-7#-001338,Amp,1.223,0.915,1,...,0.068,True,0.105,True,3,24,NaN,NaN,NaN,NaN
4533,2025-03-12 181635_Caco2_040225_SETB2_noampnoex...,B13,UNKNOWN,Caco2,Caco2 2 SET B,rno-miR-7#-001338,Amp,0.979,0.55,1,...,1.000,True,0.200,True,3,39,NaN,NaN,NaN,NaN
4534,2025-03-13 122935_Caco2_070225_SETB3_noampnoex...,B13,UNKNOWN,Caco2,Caco2 3 SET B,rno-miR-7#-001338,Amp,1.116,0.88,1,...,1.000,True,0.200,True,-1,-1,True,NaN,NaN,NaN
4535,2025-03-12 125528_Caco2_030225_SETB1 _noampnoe...,B13,UNKNOWN,Caco2,Caco2 1 SET B,rno-miR-7#-001338,NaN,Undetermined,Undetermined,1,...,1.000,True,0.054,True,-1,-1,True,NaN,NaN,NaN

### Results: Up-Regulated miRNAs = 49

In [42]:
# Condition for UP-regulated miRNAs: RQ > 2 AND p-value <= 0.05
up_condition2 = (data2['RQ'] > 2) & (data2['P-Value'] <= 0.05)
up_mirnas2 = data2[up_condition2].copy()
num_up_regulated2 = len(up_mirnas2)
print(f"Number of Different Up-regulated miRNAs: {num_up_regulated2}")

Number of Different Up-regulated miRNAs: 147

In [28]:
num_target_up_mirnas = up_mirnas2['Target Name'].nunique()
target_up_mirnas = up_mirnas2['Target Name'].unique()
print(f"Unique Up-regulated miRNAs: {target_up_mirnas}")
print(f"Number of Unique Up-regulated miRNAs : {num_target_up_mirnas}")

Unique Up-regulated miRNAs: ['hsa-miR-20a-000580' 'hsa-miR-19b-000396' 'hsa-miR-29c-000587'
 'hsa-miR-15b#-002173' 'hsa-miR-19a-000395' 'hsa-miR-17-002308'
 'hsa-miR-21-000397' 'hsa-miR-106a-002169' 'hsa-miR-26b-000407'
 'hsa-miR-1233-002768' 'hsa-let-7b-002619' 'hsa-miR-31#-002113'
 'hsa-miR-9-000583' 'hsa-miR-200b-002251' 'hsa-miR-374-000563'
 'hsa-miR-106b#-002380' 'hsa-miR-92a-000431' 'hsa-miR-30c-000419'
 'hsa-miR-24-000402' 'hsa-miR-92a-1#-002137' 'hsa-miR-93#-002139'
 'hsa-miR-30e-3p-000422' 'hsa-miR-196b-002215' 'hsa-miR-30b-000602'
 'hsa-miR-335-000546' 'hsa-miR-197-000497' 'hsa-miR-30a-5p-000417'
 'hsa-miR-596-001550' 'mmu-miR-374-5p-001319' 'hsa-miR-149-002255'
 'hsa-miR-186-002285' 'hsa-miR-140-3p-002234' 'hsa-miR-195-000494'
 'hsa-miR-138-002284' 'hsa-miR-331-000545' 'hsa-miR-766-001986'
 'hsa-miR-660-001515' 'hsa-miR-330-000544' 'hsa-miR-16-000391'
 'hsa-miR-1300-002902' 'hsa-miR-941-002183' 'hsa-miR-182-002334'
 'hsa-miR-657-001512' 'hsa-miR-362-001273' 'hsa-miR-320-002277'
 'hsa-miR-338-5P-002658' 'hsa-miR-193b-002367' 'hsa-miR-1254-002818'
 'hsa-miR-577-002675']
Number of Unique Up-regulated miRNAs : 49

### Results: Down-Regulated miRNAs = 3

In [25]:
# Condition for DOWN-regulated miRNAs: RQ < 0.5 AND p-value <= 0.05
down_condition2 = (data2['RQ'] < 0.5) & (data2['P-Value'] <= 0.05)
down_mirnas2 = data2[down_condition2].copy()
num_down_regulated2 = len(down_mirnas2)
print(f"Number of Different Down-regulated miRNAs: {num_down_regulated2}")

Number of Different Down-regulated miRNAs: 9

In [26]:
num_target_down_mirnas = down_mirnas2['Target Name'].nunique()
target_down_mirnas = down_mirnas2['Target Name'].unique()
print(f"Unique Down-regulated miRNAs: {target_down_mirnas}")
print(f"Number of Unique Down-regulated miRNAs: {num_target_down_mirnas}")

Unique Down-regulated miRNAs: ['hsa-miR-146b-001097' 'hsa-miR-342-3p-002260' 'hsa-miR-483-5p-002338']
Number of Unique Down-regulated miRNAs: 3